@charset "UTF-8";

/* font */
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); 
	font-weight: 100; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); 
	font-weight: 200; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: 300; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); 
	font-weight: 500; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); 
	font-weight: 600; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); 
	font-weight: 700; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
	font-weight: 800; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); 
	font-weight: 900; 
	font-style: normal; 
}


/* color */
.black{color:#000;}

.brown{color:#61443a;}
.dark_brown{color:#43302c;}

.gray{color:#ccc;}
.dark_gray{color:#333;}
.medium_gray{color:#666;}
.light_gray{color:#eee;}

.red{color:#d92027;}

/* intro */
.intro{cursor:pointer;}
.intro .intro_box{position:relative;padding:40px 30px 40px;margin-bottom:20px;background-color:#c7a58a;border-radius:30px;text-align:center;}
.intro .intro_box h1{margin-bottom:35px;font-size:40px;font-weight:700;}
.intro .intro_box .intro_img{width:450px;height:550px;border-radius:40px 40px 20px 20px;object-fit:cover;object-position:50% 0%;}

.intro .intro_box .enter{position:absolute;bottom:70px;left:50%;padding:20px;width:180px;background-color:rgba(0,0,0,0.5);box-sizing:border-box;border-radius:35px;text-align:center;color:rgba(255,255,255,0.9);font-size:22px;font-weight:500;transform:translateX(-50%);backdrop-filter:blur(6px);}

.intro .best_box h2{margin-bottom:15px;}
.intro .best_box .best_list{display:flex;justify-content:space-between;list-style:none;counter-reset:list-number;}
.intro .best_box .best_item{position:relative;counter-increment:list-number;}
.intro .best_box .best_item::before{display:block;content:counter(list-number);position:absolute;top:0;left:0;width:20px;height:20px;background-color:#43302c;box-sizing:border-box;border-radius:5px;text-align:center;color:#fff;font-size:14px;font-weight:600;}
.intro .best_box .best_item:first-child::before{background-color:#d92027;}
.intro .best_box .best_item img{width:120px;}
.intro .best_box .best_item .title{font-size:16px;font-weight:600;vertical-align:middle;}

/* layout */
body{background-color:#000;font-family:'S-CoreDream','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.outer{overflow:hidden;width:760px;height:100vh;margin:0 auto;padding:20px 40px;box-sizing:border-box;background-color:#fff;}

/* menu */
.menu .tab1{margin-bottom:12px;}
.menu .tab2{margin-left:-10px;margin-bottom:10px;}
.menu .tab ul{display:flex;gap:10px;}
.menu .tab li{}
.menu .tab .depth1 li a{display:block;position:relative;min-width:140px;min-height:50px;padding:12px 10px 6px;border:1px solid #ccc;border-radius:10px;text-align:center;color:#000;font-size:16px;font-weight:600;text-decoration:none;transition:all 250ms;}
.menu .tab .depth1 li a:hover{background-color:#61443a;border-color:#61443a;color:#fff;box-shadow:3px 4px 10px rgba(0,0,0,0.2);}
.menu .tab .depth2 li a.active {
    background-color: #61443a;
    color: #fff;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .menu .tab .depth1 li a.active {
    background-color: #61443a;
    color: #fff;
    border-color: #61443a;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.2);
  }
  
.menu .tab .depth2 li a{display:block;min-width:115px;padding:12px 10px;background-color:#eee;border-radius:10px;text-align:center;color:#000;font-size:16px;font-weight:600;text-decoration:none;transition:all 250ms;}
.menu .tab .depth2 li a:hover{background-color:#61443a;color:#fff;box-shadow:3px 4px 10px rgba(0,0,0,0.1);}

.menu .menu_box{overflow:hidden;margin-bottom:24px;padding:20px 20px 30px 40px;border:1px solid #666;border-radius:20px;}
.menu .menu_box .box_wrap{overflow:auto;height:430px;padding-right:20px;padding-top:20px;}
.menu .menu_box .box_wrap ul{display:flex;flex-wrap:wrap;gap:25px 20px;}
.menu .menu_box .box_wrap li{flex-basis:calc((100% - 40px)/3);}
.menu .menu_box .box_wrap li a{display:block;text-decoration:none;}
.menu .menu_box .box_wrap li img{display:block;width:100%;height:160px;object-fit:contain;}
.menu .menu_box .box_wrap li .text_box{display:flex;justify-content:space-evenly;}
.menu .menu_box .box_wrap li .text_box .title{color:#333;font-size:16px;line-height:24px;font-weight:600;}
.menu .menu_box .box_wrap li .text_box .price{color:#000;font-size:18px;line-height:22px;font-weight:600;}


/* template */
h1{font-size:24px;line-height:normal;margin-bottom:10px;}
h2{margin-bottom:10px;color:#333;font-size:20px;font-weight:600;letter-spacing:0;}
input[type="text"],input[type="number"]{padding:8px 10px 9px 12px;border:1px solid #666;border-radius:5px;}

.outer button, .btn{display:inline-block;position:relative;min-width:100px;padding:9px 12px;box-sizing:border-box;border:1px solid #666;border-radius:6px;background-color:#fff;vertical-align:top;text-align:center;color:#000;font-size:15px;font-weight:400;line-height:20px;text-decoration:none;transition:all 250ms;}
button:hover, .btn:hover{background-color:#61443a;border-color:#61443a;color:#fff;}
.outer button.type2, .btn.type2{background-color:#61443a;border-color:#61443a;color:#fff;}
.outer button.type2:hover, .btn.type2:hover{background-color:#d92027;border-color:#d92027;}

.outer button.large, .btn.large{min-width:130px;padding:13px 14px;font-size:18px;}

.outer button:nth-of-type(n+2), .btn:nth-of-type(n+2){margin-left:8px;}
.outer button:hover, .btn:hover{box-shadow:3px 4px 10px rgba(0,0,0,0.2);}
.notice{position:relative;padding-left:26px;}
.notice::before{display:block;position:absolute;top:calc(50% - 10px);left:0;width:20px;height:20px;background:url(../image/warning_icons.png) 0 0 no-repeat;}
.warning{display:block;position:relative;padding-left:25px;color:#f15d4e;}
.warning::before{display:block;position:absolute;top:calc(50% - 10px);left:0;width:20px;height:20px;background:url(../image/warning_icons.png) -40px 0 no-repeat;}

/* 공통 */
.wrapper{border:1px solid #666;border-radius:10px;padding:30px 40px;}

.total{line-height:30px;font-weight:600;}
.total span{font-size:21px;}
.total strong{margin-left:22px;color:#d92027;font-size:26px;}


/* cart_list */
.bottom_wrap{position:relative;}
.bottom_wrap h2{margin-bottom:10px;padding-left:3px;}
.bottom_wrap .clear_btn{position:absolute;top:0;right:208px;margin:0;min-width:auto;padding:4px 22px 4px 8px;border-radius:8px;font-size:13px;}
.bottom_wrap .clear_btn:hover{background-color:#fff;color:#000;}
.bottom_wrap .clear_btn::before{display:block;position:absolute;top:-2px;right:-2px;width:30px;height:30px;background:url(../image/icon_sprite.png) 0 0 no-repeat;transform:scale(0.6);}

.bottom_box{display:flex;gap:20px;position:relative;}
.bottom_box .cart_box{overflow:hidden;width:calc(100% - 200px);border:1px solid #666;border-radius:10px;}
.bottom_box .cart_list{height:200px;overflow-x:auto;padding:10px 10px 10px 20px;}
.bottom_box .cart_item{padding:8px 0 8px;}
.bottom_box .cart_item .title_wrap{display:flex;justify-content:space-between;position:relative;}
.bottom_box .cart_item .title_wrap > *{vertical-align:top;}
.bottom_box .cart_item .title_wrap .title{margin-right:10px;font-size:16px;font-weight:600;line-height:28px;}
.bottom_box .cart_item .title_wrap .price{vertical-align:middle;margin-right:16px;color:#d92027;font-weight:600;}

.bottom_box .cart_item .title_wrap input[type="number"]{width:50px;margin-right:5px;padding:2px 0 3px 8px;text-align:center;}
.bottom_box .cart_item button{position:relative;padding:0;min-width:28px;min-height:28px;margin:0;font-size:0;color:transparent;}
.bottom_box .cart_item button:hover{background-color:#fff;color:#000;}
.bottom_box .cart_item button:before{display:block;content:'';position:absolute;top:calc(50% - 15px);left:calc(50% - 15px);width:30px;height:30px;background:url(../image/icon_sprite.png) 0 0;transform:scale(0.6);}
.bottom_box .cart_item .opt_list:before{display:block;position:absolute;top:0;left:0;right:100px;width:auto;height:1px;background-color:#ccc;}

.bottom_box .total_box{display:flex;flex-direction:column;justify-content:flex-end; flex-basis:190px;}
.bottom_box .total_box .total{display:flex;justify-content:space-between;padding:0 0 12px 3px;line-height:30px;font-weight:600;}
.bottom_box .total_box .total strong{margin:0;}
.bottom_box .total_box .btn{margin:0;padding:0;min-width:100%;border-color:#61443a;background-color:#61443a;color:#fff;font-size:20px;line-height:50px;}
.bottom_box .total_box .btn:hover{border-color:#d92027;background-color:#d92027;}

.opt_list{display:flex;gap:10px;position:relative;margin-top:5px;padding-top:6px;padding-left:4px;/* background-color:#eeeeee */;}
.opt_list li{position:relative;padding-left:12px;color:#323746;font-size:14px;font-weight:500;}
.opt_list li:before{display:block;content:'';position:absolute;top:calc(50% - 1px);left:0;width:3px;height:3px;background-color:#d92027;}

/* select_option */
.option_wrap{}
.option_wrap h2{margin-bottom:20px;}

.option_wrap .title{font-size:26px;font-weight:700;}
.option_wrap .price{margin-top:6px;font-size:22px;color:#d92027;font-weight:700;}
.option_wrap .img{width:230px;margin:20px 0 15px;}

.option_wrap .amount{display:flex;justify-content:space-between;align-items:center;padding:18px 0;border-top:1px solid #333;}
.option_wrap .amount .left{font-size:18px;font-weight:600;}
.option_wrap .amount .num{margin:0 20px;font-size:22px;font-weight:600;line-height:30px;}
.option_wrap .amount button{position:relative;margin:0;padding:0 4px;min-width:30px;height:30px;background-color:#eee;border:none;vertical-align:top;font-size:0;color:transparent;}
.option_wrap .amount button:before, .option_wrap .amount button:after{display:block;content:'';position:absolute;}
.option_wrap .amount button.minus::after{top:calc(50% - 1px);left:calc(50% - 6px);width:12px;height:2px;background-color:#666;}
.option_wrap .amount button.plus::before{top:calc(50% - 1px);left:calc(50% - 6px);width:12px;height:2px;background-color:#666;}
.option_wrap .amount button.plus::after{top:calc(50% - 6px);left:calc(50% - 1px);width:2px;height:12px;background-color:#666;}

.option_wrap .opt_wrap .opt_box{display:flex;justify-content:space-between;padding:20px 0;border-top:1px solid #ccc;}
.option_wrap .opt_wrap .opt_box .opt_title{font-size:18px;font-weight:600;}
.option_wrap .opt_wrap ul{display:flex;gap:10px;}
.option_wrap .opt_wrap ul.opt_ul.opt2{margin-top:8px;}

.option_wrap button{margin-top:10px;}
.option_wrap .opt_item{position:relative;}
.option_wrap .opt_item input[type="radio"]{position:absolute;opacity:0;}
.option_wrap .opt_item input[type="radio"] + label{min-width:100px;padding:10px 12px;background-color:#fff;box-sizing:border-box;border:1px solid #ccc;border-radius:10px;text-align:center;color:#000;font-size:16px;font-weight:400;;transition:all 250ms;}
.option_wrap .opt_item input[type="radio"] + label span{display:block;margin-top:2px;color:#d92027;font-size:13px;font-weight:600;}
.option_wrap .opt_item input[type="radio"]:checked + label{background-color:#61443a;border-color:#61443a;color:#fff;}
.option_wrap .opt_item input[type="radio"]:checked + label span{color:#f15d4e;}

/* payment_wrap 주문확인 */
.payment_wrap .wrapper{padding-right:20px;}
.payment_wrap .order_list{overflow:auto;max-height:680px;padding-right:30px;}
.payment_wrap .order_item{padding-bottom:12px;}
.payment_wrap .order_item:nth-child(n+2){padding-top:10px;border-top:1px solid #ccc;}
.payment_wrap .order_item img{width:100px;}
.payment_wrap .order_item .text_box{}
.payment_wrap .order_item .text_box .title{font-size:17px;font-weight:600;}
.payment_wrap .order_item .text_box .amount em{font-weight:600;}
.payment_wrap .order_item .text_box .price{margin-left:20px;font-size:17px;font-weight:600;}
.payment_wrap .order_item .text_box span:nth-child(n+2){position:relative;margin-left:26px;}
.payment_wrap .order_item .text_box span:nth-child(n+2)::before{display:block;content:'';position:absolute;top:5px;left:-12px;width:1px;height:14px;background-color:#999;transform:rotate(15deg);}
.payment_wrap .total{margin:25px 0 20px;}

/* vip */
.vip_wrap .total{margin-bottom:14px;}
.vip_wrap .notice{margin-bottom:10px;}
.vip_wrap .phone button{margin-left:5px;}
.vip_wrap .vip_name{margin-top:15px;padding-top:20px;font-size:18px;border-top:1px solid #999;}
.vip_wrap .warning{margin-top:10px;}
.vip_wrap .vip_name em{font-weight:600;}
.vip_wrap .vip_point{margin-top:10px;font-size:17px;}
.vip_wrap .vip_point em{font-weight:600;}

.vip_wrap .btn_box{margin-top:30px;}
.vip_wrap .btn_box span{margin:0 3px 0 12px;}
.vip_wrap .save_point{margin-bottom:10px;}
.vip_wrap .save_point > *{vertical-align:middle;}
.vip_wrap .save_point .save_btn{}
.vip_wrap .use_point > *{vertical-align:middle;}
.vip_wrap .use_point .use_btn{margin-right:8px;}

/* result */
.result_wrap{text-align:center;}
.result_wrap .vip_name{font-size:18px;}
.result_wrap .result_text{margin:50px 0 30px;font-size:22px;font-weight:600;}
.result_wrap .order_num{margin:30px auto;font-size:22px;width:400px;padding:50px 0;border-radius:20px;background-color:#eee;}
.result_wrap .order_num em{display:block;margin-top:5px;color:#d92027;font-size:34px;font-weight:600;}
.result_wrap .total{}
.result_wrap .total span{font-size:20px;}
.result_wrap .total strong{margin-left:16px;font-size:24px;color:#000;}
.result_wrap .point{margin-top:5px;font-size:17px;}
.result_wrap .point em{margin-left:10px;font-size:18px;font-weight:600;}

.result_wrap .count_wrap{margin:60px 0 30px;}